body{
    margin-top:17rem;
    align-items: center;
    text-align: center;
    background-image: url(Background-website-01-1024x687.jpg);
    background-size: cover;
    font-family: 'Ysabeau', sans-serif;
}
button{
    background: none;
    width: 200px;
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Ysabeau', sans-serif;
}
